.sidebar-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    /* color: #3a1d91; */
    padding: 0 16px;
    /* padding-right: 0; */
    border-right: 1px solid #E5E5E5;
}

.kayveelogo {
    margin: 32px 0;
    margin-left: 20px;
}

.sidebar-container .search-bar {
    position: relative;
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    /* padding: 8px 12px; */
    border-radius: 20px;
    margin-bottom: 24px;
}

.sidebar-container .search-bar input {
    width: 100%;
    padding: 8px 16px 8px 40px;
    flex: 1;
    border: 1px solid #9ca3af;
    background: transparent;
    outline: none;
    /* margin-left: 8px; */
    font-size: 14px;
    /* padding: 15px; */
    border-radius: 25px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #8a8a8a;
    font-size: 18px;
}

.notification {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    /* background-color: #eee; */
    /* padding: 10px 12px; */
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
}

.notification::after {
    position: absolute;
    bottom: -10px;
    content: "";
    height: 1px;
    /* margin-top: 20px; */
    /* margin: 0 auto; */
    width: 100%;
    background-color: #9ca3af;
}

.notis-text-container {
    /* margin-left: -20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .notis-text {
        margin-left: 12px;
        font-size: 14px;
        font-weight: 400;
    }
}

.notis-count {
    background-color: #ff3b30;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
}

.bh-header {
    font-size: 12px;
    font-weight: 700;
    color: #8a8a8a;
    margin-left: 20px;
    margin-bottom: 16px;
    /* color: #6b7280; */
}

.menu-items {
    margin: 0;
    margin-left: -16px;
    width: calc(100% + 32px);
    text-align: center;
    list-style: none;
    display: block;
    padding-inline-start: 0;
    /* color: #6b7280; */
}

.menu-item {
    font-size: 14px;
    font-weight: 500;
    margin: 6px 0;
    text-align: center;
    max-width: 100%;
    padding: 12px 0;
    padding-left: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #292d32;
    cursor: pointer;
}

.menu-icon {
    margin: 0 10px;
    color: #8a8a8a;
}

.active {
    background-color: #e8e6f8;
    border-right: 6px solid #4b0082;
    color: #4b0082;
    font-weight: 600;

    .menu-icon {
        color: #4b0082;
    }
} 

/* Logout Section */

.logout {
    margin-left: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: color 0.3s;

    .exit-icon{
        background-color: purple;
        color: white;
        padding: 16px;
        border-radius: 50%;
    }

    .logout-link {
        text-decoration: none;
        font-size: 14px;
        color: black;
        /* color: #3a1d91; */
    }
}

/* User Profile */

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-details h4 {
  margin: 0;
  font-size: 14px;
}

.user-details p {
  margin: 0;
  font-size: 12px;
  opacity: 0.6;
}

.progress-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    width: 80%;
    /* margin: 0 auto; */
    background: #e8e6f8;
    /* width: 100px; */
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
  background: limegreen;
  height: 100%;
  width: 70%; /* profile completion */
}
